<!DOCTYPE html>
<html lang="en" class="bg-white">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script defer src="{% static 'index.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <form action="" method="post" role="form">
        {% csrf_token %}
        {{form.id}}
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
            <div class="text-center lg:text-left  lg:mx-[300px]">
                <h1 class="text-5xl font-bold">Change Password</h1>            
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 lg:-mx-[300px]">
                <div class="card-body">
                <div class="form-control">
                    <label class="label">
                    <span class="label-text">Old password</span>
                    </label>                   
                    {{ form.old_password }}
                </div>
                <div class="form-control">  
                    <label class="label">
                    <span class="label-text">New password</span>
                    </label>                  
                    {{ form.new_password }}
                </div>
                <div class="form-control">  
                    <label class="label">
                    <span class="label-text">Confirm password</span>
                    </label>                 
                    {{ form.confirm_password }}
                    <label class="label"><p class="text-md">already have an account?
                    <a href="#" class="label-text-alt link mt-5 link">Login</a></p>
                    </label>
                </div>
                <div class="form-control mt-6 ">
                    <button type="submit" name="action" class="btn btn-primary">Change Password</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    </form>
</body>