<!DOCTYPE html>
<html lang="en" class="bg-white">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />    
    <script defer src="{% static 'index.js' %}"></script>
    <title>Document</title>
</head>
<body class="container mx-auto">
    <div class="alert alert-success shadow-lg mt-10">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span>Your password has been successfully changed</span>
        </div>
      </div>
</body>